$dark-red: #b91c21;
$dark-blue: #2e2975;
$green: #008000;
$light-grey: #cfcfcf;
$grey: #999;
$white: #fff;
$turquoise: #1380a1;
$black: #000;
$extra-dark-grey: #212121;
$gold:#FFD700;
$silver:#c0c0c0;
$bronze:#cd7f32;
$size-small: 8px;
$size-large: 16px;
$reset: 0;
